@import './base/normalize';
@import './utils/variables';
@import './utils/func';
@import './utils/mixin';
@import './utils/placeholder';
@import './components/main';
@import './layout/mail';

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: getColor(boulder);

  background-color: getColor(white);

  &.modal-open {
    overflow: hidden;
  }
}
