// Menu button toggle
.menu-toggle {
  @extend %button;

  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;

  color: getColor(mine-shaft);

  background-color: transparent;

  @include setTransition(color);

  &:hover,
  :focus {
    color: getColor(dodger-blue);
  }

  @include breakpoint(tablet) {
    @include visibilityHidden();
  }
}

.menu-toggle__icon {
  @extend %icon;
}

// Mobile menu
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: spacing(4.8) spacing(4);
  overflow-y: auto;

  background-color: getColor(white);
  z-index: 1;

  opacity: 0;
  transform: translateX(100%);
  @include setTransition(transform, opacity);

  &--is-open {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
}

// Navigation
.mobile-nav {
  @extend %list;

  margin-bottom: auto;
}

.mobile-nav__item {
  &:not(:last-child) {
    margin-bottom: spacing(3.2);
  }
}

.mobile-nav__link {
  @extend %link;

  font-weight: 500;
  @include setFont(40, 47);
  letter-spacing: 0.02em;

  color: getColor(mine-shaft);

  @include setTransition(color);

  &:hover,
  &:focus,
  &--current {
    color: getColor(dodger-blue);
  }
}
// Contacts

.mobile-contacts {
  @extend %list;

  margin-bottom: spacing(6.4);
}

.mobile-contacts__item {
  &:not(:last-child) {
    margin-bottom: spacing(3.2);
  }
}

.mobile-contacts__link {
  @extend %link;

  font-weight: 500;
  @include setFont(24, 28);
  letter-spacing: 0.02em;

  &--phone {
    @include setFont(34, 40);

    color: getColor(dodger-blue);

    @include breakpoint(false, mobile) {
      font-size: 27px;
    }
  }
}

// Socials
.mobile-socials {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mobile-socials__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: spacing(1);

    &::after {
      content: '';

      display: block;
      margin-left: spacing(1);

      height: 100%;
      width: 1px;
      background-color: getColor(mine-shaft, 0.2);
    }
  }
}

.mobile-socials__link {
  @extend %link;

  font-weight: 500;
  @include setFont(18, 22);
  letter-spacing: 0.02em;

  color: getColor(dodger-blue);

  @include breakpoint(false, mobile) {
    font-size: 10px;
  }
}
